{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section education-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% for certification in certifications.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="certification-title"><a href="{{ certification.link }}" target="_blank">{{ certification.title }}</a></h3>
        <div class="time">{{ certification.year }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ certification.company }}</div>

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
